# logs
app.log
logs/

# intelliJ
.idea/
*.iml
out/

# maven
.flattened-pom.xml
bin/
**/target/

# our self-made build folder
/Build/

# vsCode
Extensions/BlockReplacePackets/.classpath
.project
.settings/org.eclipse.m2e.core.prefs
.vscode/launch.json

*.classpath
*.project
*.settings/org.eclipse.jdt.apt.core.prefs
*.settings/org.eclipse.jdt.core.prefs
*.settings/org.eclipse.m2e.core.prefs

# Certificates
*.p12
*.pem
*.crt
*.key