# intelliJ
.idea/
*.iml
out/

# maven
bin/
**/target/

# our self-made build folder
/Build/

# vsCode
Extensions/BlockReplacePackets/.classpath
.project
.settings/org.eclipse.m2e.core.prefs
.vscode/launch.json
Extensions/AdminOnConnect/.classpath
Extensions/AdminOnConnect/.project
Extensions/AdminOnConnect/.settings/org.eclipse.jdt.apt.core.prefs
Extensions/AdminOnConnect/.settings/org.eclipse.jdt.core.prefs
Extensions/AdminOnConnect/.settings/org.eclipse.m2e.core.prefs
Extensions/BlockReplacePackets/.project
Extensions/BlockReplacePackets/.settings/org.eclipse.jdt.apt.core.prefs
Extensions/BlockReplacePackets/.settings/org.eclipse.jdt.core.prefs
Extensions/BlockReplacePackets/.settings/org.eclipse.m2e.core.prefs
Extensions/HappySpeech/.classpath
Extensions/HappySpeech/.project
Extensions/HappySpeech/.settings/org.eclipse.jdt.apt.core.prefs
Extensions/HappySpeech/.settings/org.eclipse.jdt.core.prefs
Extensions/HappySpeech/.settings/org.eclipse.m2e.core.prefs
G-Earth/.classpath
G-Earth/.project
G-Earth/.settings/org.eclipse.jdt.apt.core.prefs
G-Earth/.settings/org.eclipse.jdt.core.prefs
G-Earth/.settings/org.eclipse.m2e.core.prefs
