/* packet logger css */
.text {
    color: #a9a9a9;
}

.messageinfo {
    color: #D0D3D4;
}

.blocked, .replaced {
    color: #ffff00;
}

.incoming {
    color: #b22222;
}

.outgoing {
    color: #0066cc;
}

.structure, .skipped {
    color: cyan;
}

.dark {
    background-color: #000000;
    color: #a9a9a9;
}

.caret {
    stroke: #ffffff;
}

.label {
    color: #000000 !important;
}

.menu-bar .text, .menu .text {
    color: #000000 !important;
    /*padding: -2px 0 -2px 0 !important;*/
}

.scroll-bar:vertical {
    width: 17px;
    padding: 1px;
}
