.a_container {
    margin: 0 2px 2px 2px;
    background-color: #e9e9e1;
    flex: 1 1 auto;

    display: flex;
    flex-direction: column;
    padding: 8px 3px 0 3px;
}

.a_subcontainer {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
}

.a_lbl {
    flex: 0 0 auto;
    color: white;
    background-color: #3179ac;
    height: 13px;
    max-height: 13px;

    line-height: 13px;
    font-size: 13px;
    padding: 4px 3px;
}

.a_txt {
    border: none;
    margin: 0;
    padding: 2px 3px;

    overflow: auto;
    outline: none;

    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;

    resize: none;
}


.a_subject {
    flex: 0 0 auto;
    background-color: white;
    height: 18px;
    max-height: 18px;
    overflow: hidden;

    font-size: 15px;
    line-height: 21px;
}

.a_div {
    flex: 0 0 auto;
    height: 6px;
    max-height: 6px;
}

.a_message {
    flex: 1 1 auto;
    background-color: white;
}

#a_content_buttons {
    flex: 0 0 38px;
    margin: 13px 17px 13px 17px;

    display: flex;
}