
.overview_item {
    -webkit-user-select: none;

    min-height: 41px;
    display: flex;

    overflow: hidden;
    white-space: nowrap;
}

.overview_item_logo {
    flex: 0 1 auto;
    display: flex;
    align-items: center;
    justify-content: center;

    width: 41px;
    min-width: 41px;
}

.overview_item_logo > img {
    max-width: 40px;
    max-height: 40px;
}

.overview_item_info {
    flex: 1 1 auto;
    min-width: 0;

    margin-left: 5px;
}

.overview_item_msgs {
    flex: 0 1 auto;

    width: 103px;
    min-width: 103px;
    padding-left: 4px;

    border: 0 solid #bab8b4;
    border-left-width: 1px;

}

.oii_name {

    font-size: 13px;
    width: 100%;

    overflow: hidden;
    max-height: 14px;
    min-height: 14px;
    padding-top: 4px;
}
.oii_desc {
    font-size: 11px;
    margin-top: 3px;
    overflow: hidden;
}

.oim_top {
    font-size: 11px;
    margin-top: 6px;
}
.oim_bottom {
    font-size: 11px;
    margin-top: 4px;
}
