.box {
    display: flex;
    flex-flow: column;
    height: 100%;
}

.header {
    height: 80px;
    min-height: 80px;
    width: 100%;
    /*overflow: hidden;*/
    border-top-width: 1px;
    border-top-color: #040f18;
    border-top-style: solid;

    display: flex;
}

.header_logo_container {
    /*float:left;*/
    min-width: 80px;
    background-color: black;
    height: 80px;
    display: inline-flex;

    /*display: inline-block;*/
    /*box-sizing: border-box;*/
}

.header_banner {
    background-color: #153f51;
    /*height: 100%;*/
    /*float: right;*/
    /*overflow: auto;*/
    height: 80px;
    display: inline-flex;
    flex-grow: 100;

    /*display: inline-block;*/
    /*box-sizing: border-box;*/
}

#logo {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 100;
}

#logo > img {
    max-height: 50px;
    max-width: 50px;
}


#info_title_container {
    color: white;
    font-weight: bold;
    font-size: 25px;

    margin: 10px 0 1px 0;
    padding: 3px 13px 0 13px;
}

#info_desc_container {
    color: white;
    font-size: 13px;

    padding: 1px 13px 0 13px;

    overflow: hidden;
    max-height: 26px;
}





.quick_links_container {
    display: flex;
    flex: 0 0 auto;
    /*margin: 4px 5px 7px 5px;*/
    margin: 6px 5px 7px 5px;

    font-size: 12px;
}

.quick_links_item {
    display: inline-flex;
    margin-right: 8px;
    white-space: nowrap;
}

.quick_links_right {
    margin-left: auto;
}





.content_container {
    margin: 0 2px 2px 2px;
    background-color: #e9e9e1;
    flex: 1 1 auto;

    display: flex;
    flex-flow: column;

    min-height: 0;
}

#content_title {
    flex: 0 1 auto;
    margin: 6px 6px 4px 6px;
    color: #aaaaaa;
    font-weight: bold;
    font-size: 17px;
    /*overflow: hidden;*/
}

#content_items {
    flex: 1 1 auto;

    border-style: solid;
    border-width: 1px 1px 2px 1px;
    border-color: black;
    border-radius: 6px;

    padding-right: 2px;

    min-height: 0;

    margin: 0 3px;

    display: flex;
    flex-flow: column;
}

#content_buttons {
    flex: 0 0 38px;
    margin: 13px 2px 13px 5px;

    display: flex;
}
